html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	font-family: Garamond;
}

body {
    margin: 0;
	background-image: linear-gradient(0deg, #282a35 95%, #38393c  5%);
    background-size: 30px 30px;
	overflow: hidden;
}

* {
	color: white;
}

.whole {
	animation: transitionIn 0.75s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	
	to {
		opacity: 2;
		transform: rotateX(0);
	}
}

/*Header menu*/
.up {
	z-index: 100;
    position: sticky;
    height: 70px;
    width: 100%;
	background-color: #38393c;
	top: 0;
	padding: 10px 0;
	display: block;
}

.up h1 {
	float: left;
	margin-left: 5%;
	margin-top: 1%;
}

.upnav a {
	float: right;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	margin-top: 0.5%;
	border-radius: 5px;
}

.upnav a:hover {
	background-color: #fdaa3f;
	transition: background-color .3s;
}

.current {
	background-color: #913bbd;
}

/*Home + Types*/
header {
	text-align: center;
}

.describe {
	border: 3px dotted #fdaa3f;
	width: 50%;
	margin-left: 5%;
	margin-top: 5%;
}

.describe p, .describev p {
	font-size: 20px;
}

.describev {
	border: 1px solid #913bbd;
	width: 45%;
	margin-left: 50%;
	margin-top: 5%;
}

#sec1, #sec2, #sec3, #sec4, #sec5 {
	padding-top: 55px;
}

.scroll {
	float: right;
	font-weight: bold;
	text-decoration: none;
	background-color: #38393c;
	border-radius: 15px;
	margin-right: 2%;
	font-size: 20px;
}

.section:nth-of-type(1) {
	margin-top: 1%;
	margin-bottom: 5%;
}

.section:nth-of-type(2) {
	margin-top: 5%;
	margin-bottom: 15%;
}

.section:nth-of-type(3) {
	margin-top: 5%;
	margin-bottom: 10%;
}

.section:nth-of-type(4) {
	margin-top: 5%;
	margin-bottom: 10%;
}

.section:nth-of-type(5) {
	margin-top: 5%;
	margin-bottom: 5%;
}

.end {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #38393c;
	position: sticky;
	height: 35px;
	bottom: 0;
}

#github, #facebook {
	flex: 1;
	margin: 10px;
	background: #33f;
	width: 33px;
	height: 33px;
}

#github {
	background: url("../images/icons.png")-456px -129px;
}

#facebook {
	background: url("../images/icons.png")-226px -129px;
}

#github:hover, #facebook:hover {
    transform: scale(1.1); 
    transition: transform 0.3s; 
}
/*A-lore-chemy + Equipment*/
#lore0 {
	border: 3px dotted #fdaa3f;
	text-align: center;
	margin: 2%;
}

#cols {
	display: flex;
	flex-direction: row;
}

#col1, #col2 {
	display: flex;
	flex-flow: column wrap;
	top: 0;
	margin-left: 5%;
	margin-bottom: 51px;
	background-color: #38393c;
	width: 30%;
	height: 50%;
}

#col2 {
	margin-top: 2%;
}

#col1 a, #col2 a {
	width: 90%;
	background-color: purple;
	text-align: center;
	margin: 5%;
}

#aside {
	border: 3px dotted orange;
	margin-left: 5%;
	width: 20%;
	margin-bottom: 51px;
}
/*The Periodic Table --> I can use tables here */
